<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
    <!-- Put here hostname of a Sitecore instance -->
    <sc.variable name="sitecoreHost" value="https://sc93.aadcm.dev.local" />
    
    <settings>
      <!-- Put here the "Application ID" for registered application in Azure AD-->
      <setting name="Authentication.AzureAd.ApplicationID" value="b7e18022-e7cb-4563-b509-3fbc8b16fa38" />
      <!-- Put here the "Directory ID" for your Azure AD (see "Property" page on AD) -->
      <setting name="Authentication.AzureAd.DirectoryID" value="6cc48af8-2c67-4918-8929-7b6a54b87422" />
      <!-- your Sitecore instance login url-->
      <setting name="Authentication.AzureAd.PostLogoutRedirectUri" value="$(sitecoreHost)/sitecore/login" />
      <!-- your Sitecore instance Url-->
      <setting name="Authentication.AzureAd.RedirectUri" value="$(sitecoreHost)/sitecore" />
    </settings>
    
    <pipelines>
      <owin.identityProviders>
        <!-- Processors for coniguring providers. Each provider must have its own processor-->
        <processor type="Sitecore.Examples.Authentication.AzureAd.AzureADIdentityProviderProcessor, Sitecore.Examples.Authentication.AzureAd" resolve="true" />
      </owin.identityProviders>
    </pipelines>
    
    <federatedAuthentication>
      <identityProviders hin="list:AddIdentityProvider">
        <identityProvider id="AzureAD" type="Sitecore.Owin.Authentication.Configuration.DefaultIdentityProvider, Sitecore.Owin.Authentication">
          <param desc="name">$(id)</param>
          <param desc="domainManager" type="Sitecore.Abstractions.BaseDomainManager" resolve="true" />
          <caption>Sign-in with Azure Active Directory</caption>
          <domain>sitecore</domain>
          <icon>/sitecore/shell/themes/standard/Images/24x24/msazure.png</icon>
          <transformations hint="list:AddTransformation">
            <transformation name="Idp Claim" type="Sitecore.Owin.Authentication.Services.SetIdpClaimTransform, Sitecore.Owin.Authentication" />
            <!-- This is to transform your Azure group into Sitecore Role. The claim value below is the object id of the role that needs to be copied from Azure -->
            <transformation name="devRole" type="Sitecore.Owin.Authentication.Services.DefaultTransformation, Sitecore.Owin.Authentication">
              <sources hint="raw:AddSource">
                <claim name="groups" value="cbf1cc5c-4b1b-46d2-a6e1-7193aaef1274" /> <!-- Object Id of an Azure group-->
              </sources>
              <targets hint="raw:AddTarget">
                <claim name="http://schemas.microsoft.com/ws/2008/06/identity/claims/role" value="Sitecore\Author" />
              </targets>
              <keepSource>true</keepSource>
            </transformation>
          </transformations>
        </identityProvider>
      </identityProviders>
      <!-- Property initializer assigns claim values to sitecore user properties -->
      <propertyInitializer>
        <maps hint="list">
          <map name="email claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
            <data hint="raw:AddData">
              <!--claim name-->
              <source name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress" />
              <!--property name-->
              <target name="Email" />
            </data>
          </map>
          <map name="Name claim" type="Sitecore.Owin.Authentication.Services.DefaultClaimToPropertyMapper, Sitecore.Owin.Authentication" resolve="true">
            <data hint="raw:AddData">        
              <source name="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname" />            
              <target name="Name" />
            </data>
          </map>
        </maps>
      </propertyInitializer>
      <identityProvidersPerSites>
        <mapEntry name="backend sites" type="Sitecore.Owin.Authentication.Collections.IdentityProvidersPerSitesMapEntry, Sitecore.Owin.Authentication" resolve="true">
          <sites hint="list">
            <site>admin</site>
            <site>shell</site>
          </sites>
          <identityProviders hint="list:AddIdentityProvider">
            <identityProvider id="AzureAD" ref="federatedAuthentication/identityProviders/identityProvider[@id='AzureAD']"/>
          </identityProviders>
        </mapEntry>
      </identityProvidersPerSites>
    </federatedAuthentication>
    
  </sitecore>
</configuration>